main {
  width: 100%;
}

header {
  color: white;
  font-size: 42px;
  margin-top: -4%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background-color: rgb(33, 97, 140 );
}

body {
  background-color: rgb(37, 40, 140);
  color: black;
}

div.mejorPuntuadas {
height: 40vh;
}

div.mejorPuntuadas h2{
background-color: gray;
}

div.populares {
height: 40vh;
}

div.populares h2{
background-color: gray;
}

div.alAireHoy{
height: 40vh;
}

div.alAireHoy h2{
background-color: gray;
}

div.inicio {
color: black;
font-size: 30px;
margin-top: 20px;
}

div.generos {
color: black;
font-size: 30px;
margin-top: 20px;
}

div.favoritos {
color: black;
font-size: 30px;
margin-top: 20px;
}

div.busqueda {
color: black;
font-size: 30px;
margin-top: 20px;
}
