*{box-sizing: border-box}
main {
  width: 100%;
}

header {
  color: white;
  font-size: 42px;
  margin-top: -4%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

body {
  background-color: black;
  color: black;

}

div.mejorPuntuadas {
height: 40vh;
}

div.mejorPuntuadas h4{
background-color: gray;
font-family: Helvetica;
}

div.populares {
height: 40vh;
}

div.populares h4{
background-color: gray;
font-family: Helvetica;
}

div.alAireHoy{
height: 40vh;
}

div.alAireHoy h4{
background-color: gray;
font-family: Helvetica;
}

div.inicio {
height: auto;
margin-top: 20px;
font-family: Helvetica;
margin-left: 733px;
position: absolute;
background-color: rgba(22, 160, 133);
border-radius: 102px 102px 102px 102px;
padding: 10px;
padding-top: 0px;
padding-bottom: 0px;
height: 39px;
margin-top: 59px;
border: solid 2px rgb(17, 120, 100);
}

div.inicio h6 {
color: black;
font-size: 20px;
margin-top: 10px;
}

div.generos {
  height: auto;
  margin-top: 20px;
  font-family: Helvetica;
  margin-left: 812px;
  position: absolute;
  background-color: rgba(22, 160, 133);
  border-radius: 102px 102px 102px 102px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 39px;
  margin-top: 59px;
  border: solid 2px rgb(17, 120, 100);
}

div.generos h6 {
color: black;
font-size: 20px;
margin-top: 10px;
}

div.favoritos {
  height: auto;
  margin-top: 20px;
  font-family: Helvetica;
  margin-left: 920px;
  position: absolute;
  background-color: rgba(22, 160, 133);
  border-radius: 102px 102px 102px 102px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 39px;
  margin-top: 59px;
  border: solid 2px rgb(17, 120, 100);
}

div.favoritos h6 {
color: black;
font-size: 20px;
margin-top: 10px;
}

div.busqueda {
  height: auto;
  margin-top: 20px;
  font-family: Helvetica;
  margin-left: 1145px;
  position: absolute;
  background-color: rgba(22, 160, 133);
  border-radius: 102px 102px 102px 102px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 39px;
  margin-top: 59px;
  border: solid 2px rgb(17, 120, 100);
}

div.busqueda h6 {
color: black;
font-size: 20px;
margin-top: 10px;
}

div.cabeza {
  background-color: rgb(162, 217, 206 );
  height: 161px;
  margin-left: -7px;
  margin-right:-7px;
}
