*{box-sizing: border-box}
main {
  width: 100%;
}

header {
  color: white;
  font-size: 42px;
  margin-top: -4%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

body {
  background-color: black;
  color: black;

}

div.mejorPuntuadas {
height: 40vh;
}

div.mejorPuntuadas h4{
background-color: gray;
font-family: Helvetica;
}

div.populares {
height: 40vh;
}

div.populares h4{
background-color: gray;
font-family: Helvetica;
}

div.alAireHoy{
height: 40vh;
}

div.alAireHoy h4{
background-color: gray;
font-family: Helvetica;
}

div.inicio{
  height: auto;
  margin-top: 70px;
  margin-left: 450px;

}

div.generos{
  height: auto;
  font-size: 20px;
  margin-top: 63px;
  padding-right: 300px;



}


div.favoritos{
  height: auto;
  font-size: 500px;
}

div.busqueda {
  height: auto;
  margin-top: 20px;
  font-family: Helvetica;
  margin-left: 1145px;
  position: absolute;

}

div.uk-search uk-search-default {


}

div.busqueda h6 {
color: black;
font-size: 20px;
margin-top: 10px;
}

div.cabeza {
  background-color: rgb(162, 217, 206 );
  height: 161px;
  margin-left: -7px;
  margin-right:-7px;
}

div.logo img{
height: 65px;
margin-top: 53px;
margin-left: 95px;
}

h1 {
  position: absolute;
      font-size: 50px;
      margin-right: 200px;
      margin-top: 11px;
  }

  h6:hover {

  }
